body {
  margin: 0px;
  height: 100vh;
  font-family: Arial, sans-serif;
}

input {
  font-size: 16px;
  width: 300px;
  padding: 13px 0;
}
input:focus {
  outline: none;
}
input[type=text] {
  color: #464646;
  margin: 0 0 0 5px;
}
input[type=submit] {
  font-size: 14px;
  width: 185px;
  border-width: 0px;
  border-radius: 15px;
  margin: 20px;
}
input[type=submit]:hover {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
}
input.blueButton {
  background-color: dodgerblue;
  color: white;
  font-size: smaller;
  max-width: 200px;
  border-radius: 0px;
  border: 1px solid #156bbd;
  float: right;
  padding: 10px 2px;
  margin: 0;
}

.header, .headerLinks, .headerAdvancedLogo, .headerAdvanced {
  display: flex;
  align-items: center;
}
.header a, .headerLinks a, .headerAdvancedLogo a, .headerAdvanced a {
  color: black;
  padding: 10px;
  text-decoration: none;
}
.headerAdvanced {
  background-color: #f1f1f1;
  height: 50px;
}
.headerAdvancedLogo {
  padding: 10px;
}
.headerAdvancedLogo img {
  height: 30px;
}
.headerLinks {
  margin-left: auto;
}

.appbar {
  margin: 30px 10px;
}
.appbar label {
  color: #d93025;
  font-size: 20px;
  margin: 50px 30px;
}

.separatorLine {
  border-bottom: solid 1px #d6d6d6;
}

.searchContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
}
.searchContainer .searchField {
  display: flex;
  flex-direction: row;
  border-radius: 25px;
  border: 1px solid #afafaf;
  align-items: center;
  margin: 10px;
  padding-left: 15px;
}
.searchContainer .searchField input {
  border: none;
  border-radius: 25px;
}
.searchContainer .logoSubtext {
  color: #4285f4;
  position: relative;
  left: 110px;
  top: -18px;
}

.advancedSearchContainer {
  margin: 50px 40px;
}
.advancedSearchContainer label {
  display: inline-block;
  width: 16%;
  font-size: 20px;
}
.advancedSearchContainer .whitespace {
  display: inline-block;
  width: 50%;
}
.advancedSearchContainer .formGroup {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 10px 0;
}
.advancedSearchContainer .formGroup label {
  width: 16%;
  font-size: 14px;
}
.advancedSearchContainer .formGroup input[type=text] {
  width: 49%;
  padding: 2px 0;
}
.advancedSearchContainer .formGroup .clarification {
  font-size: 11px;
  width: 30%;
  margin-left: 1%;
}
.advancedSearchContainer .formGroup .clarification .monospace {
  font-family: monospace;
}
.advancedSearchContainer .formGroup .right-align {
  width: 50%;
}


